@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
th {
  color: black;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  background-color: white;
  width: 200px;
}

td {
  color: white;
  background-color: rgba(80, 70, 70, 0.66);
  align-items: center;
  height: 150px;
  font-size: 25px;
  font-weight: bold;
}
.highlighted {
  background-color: black;
}


body {
  background-color: rgb(0, 0, 0);
  padding: 2px;
  color: white;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  /*background-image: url("https://i.pinimg.com/originals/8a/12/91/8a1291d23334a5f8edd1065eef5dad02.png");*/
}

.bs1 {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  color: white;
}

h2 {
  font-size: 30px;
  color: red;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  background-color: rgba(128, 128, 128, 0.44);
}

.header {
  padding: 10px;
  background-color: gray;
}

.content {
  min-height: 90vh;
}

.btn1 {
  background-color: white;
  color: red;
  border: 2px solid red;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
}

.btn1:hover {
  background-color: red;
  color: white;
}

.order {
  background-color: black;
  min-height: 100vh;
  padding-top: 50px;
}

.login-form label {
  color: white !important;
  opacity: 0.8;
}
.order-form label {
  color: black !important;
}
.login-form h2 {
  color: white;
  opacity: 1;
  text-align: center;
  background-color: #413d3d;
}
.order-form h2 {
  color: white;

  text-align: center;
}

.login-form {
  background-color: #413d3d;
  color: white;
  opacity: 0.6;
}
.order-form {
  background-color: gray;
  color: white;
}

.login-form input {
  background-color: white;
  border: none;
  color: black;
}

.order-form input {
  background-color: white;
  border: none;
  color: black;
}

.login-form input:hover {
  
  background-color: white;
}

.order-form input:hover {
  background-color: white;
}

.login-logo {
  position: absolute;
  left: 40%;
  right: 60%;
  top: 65%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  opacity: 0.5;
}
.order-logo {
  position: absolute;
  left: 40%;
  right: 60%;
  top: 65%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  opacity: 0.5;
}
.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-button {
  background-color: black;
  color: white;
  width: 120px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 80px;
  left: 10px;
}

.custom-button:hover {
  background-color: darkgray;
}

/* .login-bg {
  background-image: url("https://images.unsplash.com/photo-1485291571150-772bcfc10da5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8YmxhY2slMjBjYXJ8ZW58MHx8MHx8fDA%3D&w=1000&q=80");
  background-size: cover;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

.bgc{
  background-color: black;
}

.detailsh2{
  background-color: "rgba(173, 216, 230, 0.8)";
  color: blue;
  font-weight: bold;
  text-align: center;
  
}

.boldtext{
  font-weight: bold;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-button {
  margin-left: 10px; /* Adjust the margin as needed */
}


/* Full-page overlay for loading indicator */
